#board{
    display:flex;
    box-sizing:border-box;
    width:320px;
    flex-wrap:wrap;
    font-size: 100px;

}
.square{
    width:100px;
    height:100px;
    flex-wrap:wrap;
    font-family: Helvetica;
    font-size: 50px;
    color: white;
    border-radius: 5px;
    border:2px solid black;
    line-height: 80px;
    text-align: center;
    background-color: #78bec5;
    
}
.x{
    background-color:#dc685a ;
}
.o{
    background-color:#ecaf4f ;
}
.square:hover{
   background-color:  #3d4250;
}
    /*.square:active{*/
        /*background-color: #dc685a;*/
    /*}*/
#game{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
#head{
    padding:10px;
}
#reset {
    margin-top: 5px;
    background:transparent;
    background-color:black;
    color:white;
    height:50px;
    width:80px;
}